@{
    ViewData["Title"] = "Emai Confirmation";
}

<h1>@ViewData["Title"].</h1>
<div>
    <p>
        Email confirm successfully! <a asp-controller="Account" asp-action="Login">Click me</a>.
    </p>
</div>
