@{
    ViewData["Title"] = "Account has been banned";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">
        Your account has been banned, please contact admin to be supported!
    </p>
</header>
