@{
    ViewData["Title"] = "Đặt lại mặt khẩu";
}

<h1>@ViewData["Title"].</h1>
<p>
    Reset password successfully!,
    <a asp-controller="Account" asp-action="Login">
        Click here to login
    </a>
</p>
