@using App.Areas.Identity.Models.UserViewModels
@model SetUserPasswordModel
@{

    ViewData["Title"] = "Change Password";
}

<h4>Change user password: @ViewBag.user.UserName</h4>
<partial name="_AlertMessage" />


<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Change password</button>
            <a class="btn btn-primary" asp-action="Index">List of users</a>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
@{
    _adminMenuService.SetActive("User", "SetPassword", "Identity");
}

@section Sidebar{
@Html.Raw(_adminMenuService.RenderHtml());
}