@model App.Models.ProductModel.Category

@{
    ViewData["Title"] = "Create";
}


<div class="row px-5">
    <h1>Create Category</h1>
    <div class="col-md-12 ">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentCategoryId" class="control-label"></label>
                <select asp-for="ParentCategoryId" class="form-control" asp-items="ViewBag.ParentCategoryId"></select>
            </div>
            <div class="d-flex justify-content-between">

                <div>
                    <a asp-action="Index" class="text-decoration-none btn btn-outline-secondary "><i
                            class="fa-duotone fa-backward-fast"
                            style="--fa-primary-color: #3e4c65; --fa-primary-opacity: 0.8; --fa-secondary-color: #202327;"></i>
                        Back</a>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>

</div>


@{
    var summernote = new Summernote("#Description");



}

<partial name="_summernote" model="summernote" />


@section Sidebar {
@Html.Raw(_menuAdminProvider.RenderHtml())
}


@section Scripts {

<script src="~/lib/multiple-select/multiple-select.min.js"></script>
<link rel="stylesheet" href="~/lib/multiple-select/multiple-select.min.css" />

<script>
    $("#CategoryIDs").multipleSelect({
        selectAll: false,
        keepOpen: false,
        isOpen: false,

    });
</script>

<partial name="_ValidationScriptsPartial" />
}